* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#header-title {
  color: rgb(230, 230, 104);
  font-size: 8vh;
}

#header-container {
  background-color: rgba(54, 54, 223, 0.864);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}